




:root {
    --primary-black: #131313;
    --primary-white: #FAFAFA;
    --primary-background-color: #FFFDF6;
    
    --primary-btn-grey: #E1E1E1;
    --primary-btnActiv-grey: #FDFDFD;  
    --primary-btn-border-grey: #D4D4D4;
    --btn-text-blue: #3C32BF;
    --btnActiv-gender: #BE71F5;
    --btnActiv-border-gender: #B454F8;
    --btnActiv-ethnicity: #ACFF58;
    --btnActiv-border-ethnicity: #8EFC20;

    --ethnicity-tau: #00F453;
    --ethnicity-psi: #ACFF58;
    --ethnicity-rho: #45F5BC;

    --gender-lambda: #BE71F5;
    --gender-theta: #5850EE;
    --gender-omicron: #F034B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  /* height: 100%; */
  padding-bottom: 2rem; /* luft i botten */
}

body { 
    font-family: "Rethink Sans", sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-black);
    /* padding: 4rem; */
    /* margin: 4rem; */
    display: flex;
    justify-content: center;
}

.main {
    max-width: 960px;
    width: 100%;
    /* margin-bottom: 4rem; */
}

#ellipse-div {
position: sticky;
  width: 50%;
  height: 25rem;
  top: 32rem;
  left: -4rem;
  border-radius: 50%;
  z-index: -10;
  overflow: visible;
  /*position: relative;*/
}

/* Glow-lager */
#ellipse-div::before {
  content: "";
  position: absolute;
  top: 34%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 300%;
  border-radius: 50%;
  background: linear-gradient(270deg, #FF753E, #FCFF3E, #3EAFFF, #3E85FF, #BFFF3E, #FF423E);
  background-size: 800% 800%;
  animation: gradientShift 35s ease infinite;
  filter: blur(120px);
  opacity: 0.7;
  z-index: -1;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/*
#ellipse-div {
  width: 50%;
  height: 9%;
  position: sticky;
  top: 32rem;
  left: -4rem;
  border-radius: 50%;
  z-index: -10;

  background: linear-gradient(270deg, #FF753E, #FCFF3E, #3EAFFF, #3E85FF);
  background-size: 800% 800%;
  animation: gradientShift 12s ease infinite;

  box-shadow: 0px 0px 165px 400px rgba(255, 117, 62, 0.5); /* mild glow 
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/*
#ellipse-div {
  width: 50%;
  height: 250px;
  position: sticky; /*position: relative;
  box-shadow: 0px 0px 165px 400px #FF753E;
  border-radius: 50%;
  background-color: #FF753E; /*#acff58;
  z-index: -10;
  top: 32rem;
  left: -4rem;
}*/

.section {
    margin-bottom: 6rem;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
  font-size: 4.76rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: justify;
    text-indent: 1.5rem;
}

/* Intro Section */
.intro__image {
    width: 100%;
    /*margin: 1rem 0;*/
}

.intro__caption {
    font-size: 0.8rem;
    color: gray;
}

/* Global Perspective Section */
.global__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.global__text, 
.global__image-box {
    flex: 1 1 45%;
}

.global__image {
    width: 100%;
    border-radius: 4px;
}

.global__caption {
    font-size: 0.8rem;
    color: gray;
}

/* Charts */
.chart-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: var(--primary-white);
    border-radius: 8px;
}

.chart-controls {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* City & Producer Controls s*/

#city-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section__header {
  max-width: 500px;
}

.section_earn_header {
  max-width: 1000px;
}

.section_plays-most_header {
  max-width: 1000px;
}

.section_city-gigs_header {
  max-width: 600px;
}

.section_producer_header {
  max-width: 600px;
}

.city-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem;
}

#producer-container {
display: flex;
  flex-direction: row;
  width: 100%;
}

.producer-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1rem 1rem 2rem;
}

.city-label, 
.producer-label {
  font-weight: bold;
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  color: var(--btn-text-blue);
}

.city-buttons, 
.producer-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 0.3rem;
}



/* == Buttons == */
.btn-city, 
.btn-producer {
    padding: 8px 12px;
    font-size: 0.9rem;
    border: 1px solid var(--primary-btn-border-grey);
    background-color: var(--primary-btn-grey);
    color: var(--btn-text-blue);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-city:hover, 
.btn-producer:hover {
    border: 1px solid var(--primary-btn-border-grey);
    background-color: var(--primary-btnActiv-grey);
    color: var(--btn-text-blue);
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Rethink Sans', sans-serif;
    border: 1px solid var(--primary-btn-border-grey);
    background-color: var(--primary-btn-grey);
    color: var(--btn-text-blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    border: 1px solid var(--primary-btn-border-grey);
    background-color: var(--primary-btnActiv-grey);
    color: var(--btn-text-blue);
}


/* == Active Buttons == */

.btn-city.active,
.btn-producer.active {
    border: 1px solid var(--primary-btn-border-grey);
    background-color: var(--btn-text-blue);
    color: var(--primary-white);
}


/* === GENDER === */
.btn--gender.gender-active {
  background-color: var(--btnActiv-gender);
  color: var(--primary-white);
  border-color: var(--btnActiv-border-gender);
}

.btn-over-time.gender-active,
.btn-over-all.gender-active {
  background-color: var(--btnActiv-gender);
  color: var(--primary-white);
  border-color: var(--btnActiv-border-gender);
}

/* === ETHNICITY === */
.btn--ethnicity.ethnicity-active {
  background-color: var(--btnActiv-ethnicity);
  color: var(--btn-text-blue);
  border-color: var(--btnActiv-border-ethnicity);
}

.btn-over-time.ethnicity-active,
.btn-over-all.ethnicity-active {
  background-color: var(--btnActiv-ethnicity);
  color: var(--btn-text-blue);
  border-color: var(--btnActiv-border-ethnicity);
}

.btn--gender.gender-active,
.btn--ethnicity.ethnicity-active,
.btn-over-time.active,
.btn-over-all.active {
  /* This ensures selected mode buttons always look active */
  font-weight: 500;
}




/*

/* === Active buttons for Gender/Ethnicity + Mode === 

.btn--gender.active {
  background-color: var(--btnActiv-gender);
  border-color: var(--btnActiv-border-gender);
  color: var(--primary-white);
}

.btn--ethnicity.active {
  background-color: var(--btnActiv-ethnicity);
  border-color: var(--btnActiv-border-ethnicity);
  color: var(--btn-text-blue);
}

/* Gender Active Buttons 
.btn-over-time.active,
.btn-over-all.active {
  background-color: var(--btnActiv-gender);
  color: var(--primary-white);
  border-color: var(--btnActiv-border-gender);
}

/* Ethnicity Active Buttons 
.btn-over-time.active,
.btn-over-all.active {
  background-color: var(--btnActiv-ethnicity);
  color: var(--btn-text-blue);
  border-color: var(--btnActiv-border-ethnicity);
}*/
