


:root {
    --primary-black: #131313;
    --primary-white: #FAFAFA;
    --primary-background-color: #FFFDF6;
    
    --primary-btn-grey: #C1BFBF;
    --primary-btn-grey: #C1BFBF;
    --btn-text-blue: #3C32BF;
    --btnActiv-gender: #BE71F5;
    --btnActiv-ethnicity: #ACFF58;

    --ethnicity-tau: #00F453;
    --ethnicity-psi: #ACFF58;
    --ethnicity-rho: #45F5BC;

    --gender-lambda: #BE71F5;
    --gender-theta: #5850EE;
    --gender-omicron: #F034B8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body { 
    display: flex; 
    font-family: "Rethink Sans", sans-serif;
    margin: 4rem;  
    background-color: var(--primary-background-color);
    /*background: linear-gradient(180deg, #1e1a5a, #221d60); */
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    margin: auto;
    gap: 3rem;
}