




:root {
    --primary-black: #131313;
    --primary-white: #FAFAFA;
    --primary-background-color: #FFFDF6;
    
    --primary-btn-grey: #C1BFBF;
    --btn-text-blue: #3C32BF;
    --btnActiv-gender: #BE71F5;
    --btnActiv-ethnicity: #ACFF58;

    --ethnicity-tau: #00F453;
    --ethnicity-psi: #ACFF58;
    --ethnicity-rho: #45F5BC;

    --gender-lambda: #BE71F5;
    --gender-theta: #5850EE;
    --gender-omicron: #F034B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Rethink Sans", sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-black);
    margin: 4rem;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 960px;
    width: 100%;
}

.section {
    margin-bottom: 6rem;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

/* Intro Section */
.intro__image {
    width: 100%;
    margin: 1rem 0;
}

.intro__caption {
    font-size: 0.8rem;
    color: gray;
}

/* Global Perspective Section */
.global__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.global__text, 
.global__image-box {
    flex: 1 1 45%;
}

.global__image {
    width: 100%;
    border-radius: 4px;
}

.global__caption {
    font-size: 0.8rem;
    color: gray;
}

/* Charts */
.chart-box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
}

.chart-controls {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

/* City & Producer Controls s*/

#city-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section__header {
  max-width: 500px;
}

.section_earn_header {
  max-width: 1000px;
}

.section_plays-most_header {
  max-width: 1000px;
}

.section_city-gigs_header {
  max-width: 500px;
}

.section_producer_header {
  max-width: 500px;
}

.city-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 1rem;
}

#producer-container {
display: flex;
  flex-direction: row;
  width: 100%;
}

.producer-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 1rem;
}

.city-label, 
.producer-label {
  font-weight: bold;
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
  color: var(--btn-text-blue);
}

.city-buttons, 
.producer-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-top: 0.3rem;
}



/* == Buttons == */
.btn-city, 
.btn-producer {
    padding: 6px 12px;
    font-size: 0.9rem;
    background-color: var(--primary-btn-grey);
    color: var(--btn-text-blue);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-city:hover, 
.btn-producer:hover {
    background-color: var(--btn-text-blue);
    color: var(--primary-white);
}

.btn {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Rethink Sans', sans-serif;
    background-color: var(--primary-btn-grey);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--btn-text-blue);
    color: var(--primary-white);
}


/* == Active Buttons == */

.btn-city.active,
.btn-producer.active {
  background-color: var(--btn-text-blue);
  color: var(--primary-white);
}

